<nav class="navbar navbar-expand-md navbar-dark navbar-custom " [ngClass]="{'navbar-fixed-top' : eselhome(),'fixed-top' : !eselhome()} ">
    <a class="navbar-brand logo-image" [routerLink]="['/home']"><img src="/assets/img/bookflix.png" alt="alternative" height="50px" width="150px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav mr-auto">
            <ng-container *ngIf="authService.isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/noticias']" routerLinkActive="active">Noticias</a>
                </li>
            </ng-container>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']">Nosotros</a>
            </li>
            <li class="nav-item" *ngIf="isAdmin()">
                <a class="nav-link" [routerLink]="['/administrador']">Administrador</a>
            </li>
        </ul>

        <div class="my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
                <ng-container *ngIf="!authService.isAuthenticated() ;else loggedIn">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/signin']" routerLinkActive="active">Iniciar Sesión </a>
                    </li>
                </ng-container>
                <ng-template #loggedIn>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/myUserInfo']" routerLinkActive="active"> Mis Datos </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="cursor: pointer;" (click)="logout()">Cerrar Sesión </a>
                    </li>
                </ng-template>
                <!-- <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/signup']" routerLinkActive="active">Register</a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>