<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Calificar</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <textarea type="text" [(ngModel)]="comentario.texto" name="texto" id="texto" class="form-control" rows="4"></textarea>
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-block btn-outline-success m-1 mt-2" (click)="like()"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-block btn-outline-danger m-1 mt-2" (click)="dislike()"><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-outline-danger" (click)="calificar()" data-dismiss="modal">Guardar calificacion</button>
        </div>
        </div>
    </div>
</div>

<div class="container pt-5" *ngIf="book">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card bg-transparent">
                <div class="card.body">
                    <ng-container *ngIf="book">
                        <div class="row mb-2">
                            <div class="col-4">
                                <img src="{{book.image}}" alt="Portada de {{book.name}}" class="imagen card-img-top">

                                <div class="text-center mt-2" style="min-height: 4.5rem;">
                                    <input id="toggle-heart" type="checkbox" (click)="agregarFav()" [checked]="fav" />
                                    <label for="toggle-heart">❤</label>
                                </div>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-block btn-outline-danger" *ngIf="puedeComentar" data-toggle="modal" data-target="#exampleModalCenter">
                                Calificar Libro
                                </button>

                            </div>
                            <div class="col-8">
                                <div class="row align-items-center">
                                    <div class="col-12">
                                        <h3 class="text-ligth">{{book.name}}</h3>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <h6 class="ml-3 mr-1"><a class="badge badge-danger" [routerLink]="['/busqueda/',book.author ]">{{book.author}}</a></h6>
                                    <h6 class="ml-1 mr-1"><a class="badge badge-danger" [routerLink]="['/busqueda/',book.editorial ]">{{book.editorial}}</a></h6>
                                    <h6 class="ml-1"><a class="badge badge-danger" [routerLink]="['/busqueda/',book.genre ]">{{book.genre}}</a></h6>
                                </div>
                                <p>{{book.synopsis}}</p>
                                <button [routerLink]="['/books/trailer/',book._id]" class="btn btn-block btn-outline-danger">
                                    Ver trailers
                                </button>
                                <button *ngIf="isAdmin()&&book" [routerLink]="['/books/edit/',book._id]" class="btn btn-block btn-outline-danger">
                                    Editar Libro
                                </button>
                            </div>
                        </div>
                    </ng-container>

                    <div class="row mt-2" *ngIf="error==''">
                        <div class="col-8">
                            <p class="h5">Capitulos </p>
                        </div>
                        <div class="col-4 text-right">
                            <button class="btn btn-outline-danger mr-1" type="button" (click)="sacarDeLeidos()" *ngIf="leyendo">Dejar de leer</button>
                            <button class="btn btn-outline-danger" type="button" (click)="terminar()" *ngIf="!termine && leyendo">Terminar</button>
                            <button class="btn btn-outline-danger" type="button" (click)="sacarDelHistorial()" *ngIf="termine">Sacar de Historial</button>
                        </div>
                    </div>
                    <div *ngIf="error==''">
                        <ul class="list-group mt-3 mb-3 " style="border-radius: 13px 13px 13px 13px;">
                            <li class="list-group-item " *ngIf="book.bookPDF != null && book.bookPDF != '' ">
                                <div class="row d-flex justify-content-between align-items-center">
                                    <div class="col-10" style="cursor:pointer">
                                        <a (click)="verCapitulo(-1)" [routerLink]="['/books/leer/', book._id , 'completo']" style="color: rgb(168, 168, 168);">Libro Completo</a>
                                    </div>
                                </div>
                            </li>
                            <ng-container *ngFor="let chapter of book.chapters; index as i">
                                <li class="list-group-item " *ngIf="chapter != null && chapter != '' ">
                                    <div class="row d-flex justify-content-between align-items-center">
                                        <div class="col-10" style="cursor:pointer">
                                            <a (click)="verCapitulo(i)" [routerLink]="['/books/leer/', book._id , i]" style="color: rgb(168, 168, 168);">Capitulo {{i+1}}  </a>
                                        </div>
                                        <div class="col-2 text-right" (click)="verCapitulo(i)">
                                            <i class="" style="cursor:pointer" [ngClass]="leido(i) ? 'fas fa-eye leido' : 'far fa-eye-slash'  "></i>
                                        </div>
                                    </div>



                                </li>
                            </ng-container>

                        </ul>
                    </div>
                </div>
                <div class="alert alert-danger" *ngIf="error!=''">
                    {{error}}
                </div>
            </div>
        </div>
    </div>
</div>