<div class="container pt-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card bg-transparent">
                <div class="card.body" *ngIf="error==''">
                    <ng-container *ngIf="book">
                        <div class="row">
                            <div class="col-4">
                                <img src="{{book.image}}" alt="Portada de {{book.name}}" class="imagen card-img-top">
                            </div>
                            <div class="col-8">
                                <div class="row align-items-center">
                                    <div class="col-12">
                                        <h3 class="text-ligth">{{book.name}}</h3>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <h6 class="ml-3 mr-1"><a class="badge badge-danger">{{book.author}}</a></h6>
                                    <h6 class="ml-1 mr-1"><a class="badge badge-danger">{{book.editorial}}</a></h6>
                                    <h6 class="ml-1"><a class="badge badge-danger">{{book.genre}}</a></h6>
                                </div>
                                <p>{{book.synopsis}}</p>
                                <button [routerLink]="['url/books/trailer/',book._id]" class="btn btn-block btn-outline-danger">
                                    Ver trailers
                                </button>
                            </div>
                        </div>
                    </ng-container>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col-6">
                            <button *ngIf="isAdmin()&&book" [routerLink]="['/books/edit/',book._id]" class="btn btn-block btn-outline-danger">
                                Editar Libro
                            </button>
                        </div>
                        <div class="col-3"></div>
                    </div>
                    <div>
                        <ul class="list-group list-group-flush mt-3 mb-3">
                            <a *ngFor="let chapter of book.chapters; index as i" class="list-group-item" href="{{chapter}}">Capitulo {{i+1}}</a>
                        </ul>
                    </div>
                </div>
                <div class="alert alert-danger" *ngIf="error!=''">
                    {{error}}
                </div>
            </div>
        </div>
    </div>
</div>