<div class="home-bg">
    <div class=" callout-title  intro img-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-m-3 ">
                    <h1 class="animate__animated animate__backInDown bienvenido">Bienvenido a</h1>
                </div>
                <div class="col-3 pl-4">
                    <h1 class="animate__animated animate__flipInX callout-bookflix "><img src="/assets/img/bookflix.png" alt="alternative"></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="about" style="padding: 100px ; ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <img src="../../../../assets/img/homebook.svg" style="max-height: 500px;">
            </div>
            <div class="col-6 ">
                <h2>Lee sin limites</h2>
                <p class="lead">Suscríbete a la emoción y al conocimiento, al equilibrio y al espíritu crítico, al placer que solo proporciona la lectura</p>
                <p>Disfruta ya de más de un millón de ebooks en todos tus dispositivos digitales. Sin compromiso de permanencia.</p>
                <br>
                <br>
                <button class="btn btn-outline-danger"> Ingresa ya </button>
            </div>
        </div>
    </div>
</section>