img {
    width: 100%;
    height: auto;
}

.home-bg {
    background-image: url("../../../../assets/img/fondo.jpg");
    object-fit: cover;
    background-size: cover;
    width: auto;
    height: 100vh;
    background: 'no-repeat center center scroll';
}

.callout-title {
    margin-bottom: 0;
    animation-delay: 0.25s;
    font-size: 4rem;
}

.bienvenido {
    left: 15px;
    position: relative;
    float: right;
    color: white;
    overflow: hidden;
}

.callout-bookflix {
    animation-delay: 1.25s;
    font-size: 4rem;
    max-width: 250px;
    min-width: 250px;
    align-self: center;
}

@media (min-width: 700px) {
    .callout-title {
        animation-delay: 0s;
    }
}

.intro {
    text-align: center;
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vw;
}


/*
@media only screen and (max-width: 767px) {
    .home-bg {
       The file size of this background image is 93% smaller
       * to improve page load speed on mobile internet connections 
        background-image: url("../../../../assets/img/fondo2.jpg");
    }
}
*/

section {
    padding: 250px 0;
}