
img{
    width: 100%;
    height: auto;
}
.home-bg{
    background-image: url("../../../../assets/img/home.jfif");
    background-size: 100vw 100vh;
    width: auto;
    height: 100vh;
}
.callout-title{
    margin-bottom: 0;
    animation-delay: 0.25s;
    font-size: 4rem;
}
@media (min-width: 700px) {
    .callout-title {
      animation-delay: 0s;
    }
  }
.intro{
    text-align: center;
    height: 90%; 
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 10vw;
}