<div class="container" *ngIf="reading && reading.length > 0">
    <p class="h5 ml-1">Libros que estoy leyendo</p>
    <ul id="leyendo">
        <li *ngFor="let book of reading, index as i" [ngClass]="{active: i==0}">
            <div class="col-md-auto  card-container m-1 p-0 " style="max-width: 220px;">
                <label class="">
                <input type="checkbox"  />
                <div class="card2 d-flex flex-column">
                    <div class="front"><img class="libroPortada" src="{{book.image}}" ></div>
                    <div class="back">
                      
                            <h5 class="mt-2 titulo-libro">{{book.name}}</h5>
                      
                            <p class="h6 mr-1 ml-1" style="overflow: hidden;">{{book.synopsis.substring(0, 300 - 3) + "..."}}</p>        
                            <button [routerLink]="['/books/book/',book._id]" class="btn  btn-danger btn-block mt-auto button-libros-left mr-5">
                                Leer
                        </button>
                     
                    </div>
                </div>
            </label>
            </div>
        </li>
    </ul>
</div>

<div class="container" *ngIf="favs && favs.length > 0">
    <p class="h5 ml-1">Libros Favoritos</p>
    <ul id="favoritos">
        <li *ngFor="let book of favs, index as i" [ngClass]="{active: i==0}">
            <div class="col-md-auto  card-container m-1 p-0 " style="max-width: 220px;">
                <label class="">
                <input type="checkbox"  />
                <div class="card2 d-flex flex-column">
                    <div class="front"><img class="libroPortada" src="{{book.image}}" ></div>
                    <div class="back">
                      
                            <h5 class="mt-2 titulo-libro">{{book.name}}</h5>
                      
                            <p class="h6 mr-1 ml-1" style="overflow: hidden;">{{book.synopsis.substring(0, 300 - 3) + "..."}}</p>        
                            <button [routerLink]="['/books/book/',book._id]" class="btn  btn-danger btn-block mt-auto button-libros-left mr-5">
                                Leer
                        </button>
                     
                    </div>
                </div>
            </label>
            </div>
        </li>
    </ul>
</div>

<div class="container" *ngIf="history && history.length > 0">
    <p class="h5 ml-1">Historial</p>
    <ul id="historial">
        <li *ngFor="let book of history, index as i" [ngClass]="{active: i==0}">
            <div class="col-md-auto  card-container m-1 p-0 " style="max-width: 220px;">
                <label class="">
                <input type="checkbox"  />
                <div class="card2 d-flex flex-column">
                    <div class="front"><img class="libroPortada" src="{{book.image}}" ></div>
                    <div class="back">
                      
                            <h5 class="mt-2 titulo-libro">{{book.name}}</h5>
                      
                            <p class="h6 mr-1 ml-1" style="overflow: hidden;">{{book.synopsis.substring(0, 300 - 3) + "..."}}</p>        
                            <button [routerLink]="['/books/book/',book._id]" class="btn  btn-danger btn-block mt-auto button-libros-left mr-5">
                                    Leer
                            </button>
                            
                     
                    </div>
                </div>
            </label>
            </div>
        </li>
    </ul>
</div>


<div class="container" *ngIf="books && books.length > 0">
    <p class="h5 ml-1">Ultimos Libros</p>
    <ul id="libros">
        <li *ngFor="let book of books, index as i" [ngClass]="{active: i==0}">
            <div class="col-md-auto  card-container m-1 p-0 " style="max-width: 220px;">
                <label class="">
                <input type="checkbox"  />
                <div class="card2 d-flex flex-column">
                    <div class="front"><img class="libroPortada" src="{{book.image}}" ></div>
                    <div class="back">
                      
                            <h5 class="mt-2 titulo-libro">{{book.name}}</h5>
                      
                            <p class="h6 mr-1 ml-1" style="overflow: hidden;">{{book.synopsis.substring(0, 300 - 3) + "..."}}</p>        
                            <button [routerLink]="['/books/book/',book._id]" class="btn  btn-danger btn-block mt-auto button-libros-left mr-5">
                                Leer
                        </button>
                     
                    </div>
                </div>
            </label>
            </div>
        </li>
    </ul>
</div>









<!--







<div class="container-fluid p-5 ">
    <div class="row justify-content-center">
        <div class="col-md-auto  card-container m-1 p-0 " style="max-width: 220px;" *ngFor="let book of books, index as i">
            <label class="">
                <input type="checkbox"  />
                <div class="card2 d-flex flex-column">
                    <div class="front"><img class="libroPortada" src="{{book.image}}" ></div>
                    <div class="back">
                      
                            <h5 class="mt-2 titulo-libro">{{book.name}}</h5>
                      
                            <p class="h6 mr-1 ml-1" style="overflow: hidden;">{{book.synopsis.substring(0, 300 - 3) + "..."}}</p>        
                            <button [routerLink]="['/']" class="btn  btn-danger btn-block mt-auto button-libros-left mr-5">
                                    Leer
                            </button>
                            <a [routerLink]="['/books/book/',book._id]" class="text-warning mt-auto button-libros-right">
                                Ver mas
                            </a>
                     
                    </div>
                </div>
            </label>
        </div>




    </div>
</div>-->