<div class="container-fluid m-5">
    <div class="row">
        <div class="col-3 mb-3">
            <h5 class="card-title">Administrar Noticias</h5>
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-outline-danger mr-2 " [routerLink]="['/noticiasadministrador']">Ir a adminsitrar Noticias </button>
                    <button class="btn btn-outline-danger " [routerLink]="['/crear-noticia']">Ir a crear Noticias </button>
                </div>
            </div>
        </div>
        <div class="col-1">
        </div>
        <div class="col-3">
            <h5 class="card-title">Administrar Libros</h5>
            <div class="card">
                <div class="card-body">


                    <button class="btn btn-outline-danger " [routerLink]="['/books/add']">Ir a crear libro </button>

                </div>
            </div>
        </div>
        <div class="col-1">
        </div>
        <div class="col-3 mb-3">
            <h5 class="card-title">Administrar Usuarios</h5>
            <div class="card">
                <div class="card-body">
                    <p>Proximamente</p>
                    <!--<button class="btn btn-outline-danger " [routerLink]="['/noticiasadministrador']">Ir a adminsitrar Usuarios </button>-->

                </div>
            </div>
        </div>



    </div>