.vertical-center {
    display: flex;
    align-items: center;
    background: transparent;
}

.avatar-wrapper {
    border: solid 2px transparent;
}

.avatar-wrapper:hover {
    border-color: white;
}