<div class="mt-5">
    <h1 class="text-danger text-center">Mis datos</h1>
</div>
<div class="container">
    <br>
    <div class="list-group">
        <div class="row list-group-item list-group-item-action">
            <div class="row">
                <div class="col-md">
                    <p class="text-white ">Correo electronico:</p>
                </div>
                <div class="col-md">
                    <p class="text-white">{{user.email}}</p>
                </div>
            </div>
        </div>
        <div class="row list-group-item list-group-item-action">
            <div class="row">
                <div class="col-md">
                    <p class="text-white ">Nombre completo:</p>
                </div>
                <div class="col-md">
                    <p class="text-white">{{user.creditCard.creditCardName}}</p>
                </div>
            </div>
        </div>
        <div class="row list-group-item list-group-item-action">
            <div class="row">
                <div class="col-md">
                    <p class="text-white ">Numero de tarjeta:</p>
                </div>
                <div class="col-md">
                    <p class="text-white">{{user.creditCard.creditCardNumber}}</p>
                </div>
            </div>
        </div>
        <div class="row list-group-item list-group-item-action">
            <div class="row">
                <div class="col-md">
                    <p class="text-white ">CVV:</p>
                </div>
                <div class="col-md">
                    <p class="text-white">{{user.creditCard.creditCardCVV}}</p>
                </div>
            </div>
        </div>
        <div class="row list-group-item list-group-item-action">
            <div class="row">
                <div class="col-md">
                    <p class="text-white ">Fecha de vencimiento de la tarjeta:</p>
                </div>
                <div class="col-md">
                    <p class="text-white">{{user.creditCard.creditCardMM}}/{{user.creditCard.creditCardYY}}</p>
                </div>
            </div>
        </div>
        <div class="row list-group-item list-group-item-action">
            <div class="row">
                <div class="col-md">
                    <p class="text-white ">Informacion del plan:</p>
                </div>
                <div class="col-md">
                    <p class="text-white" *ngIf="user.plan==1">Membresia Estandar</p>
                    <p class="text-white" *ngIf="user.plan==2">Membresia Premium</p>
                </div>
                <!-- <div class="col-md">
                    <button class="btn btn-sm btn-outline-primary " *ngIf="user.plan==1">Ascender a Premium</button>
                    <button class="btn btn-sm btn-outline-primary " *ngIf="user.plan==2">Descender a Estandar</button>
                    <button class="btn btn-sm btn-outline-primary ">Dar de baja</button>
                </div> -->
            </div> 
        </div>
        <div class="row list-group-item list-group-item-action">
            <div class="row">
                <div class="col-md">
                    <p class="text-white ">Nueva contraseña:</p>
                </div>
                <div class="col-md">
                    <input type="text" [disabled]="getEditar()">
                </div>
                <!--<div class="col-md">
                    <button class="btn btn-sm btn-outline-primary mb-4" (click)="changePassword()">Cambiar contraseña</button>
                </div> -->
            </div>
        </div>
    </div>
    <br>
    <div class="m-1">
        <div class="row  text-center">
            <div class="col-sm">
                <button class="btn btn-block bg-danger text-white p-4 px-5"><h4>Descartar cambios</h4></button>
            </div>
            <div class="col-sm">
                <button class="btn btn-block bg-success text-white p-4 px-5"><h4>Confirmar cambios</h4></button>
            </div>
        </div>
    </div>
</div>


