<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container " *ngIf="user">

    <div class="row flex-lg-nowrap" *ngIf="planes">
        <div class="col">
            <div class="alert alert-success" *ngIf="success">
                Cambios realizados con exito
            </div>
            <div class="alert alert-danger" *ngIf="error != '' ">
                {{error}}
            </div>
            <div class="row">
                <div class="col mb-3">
                    <div class="card imp">
                        <div class="card-body">
                            <div class="e-profile">
                                <div class="row">
                                    <div class="col-12 col-sm-auto mb-3">
                                        <div class="mx-auto" style="width: 140px;">
                                            <div class="d-flex justify-content-center align-items-center rounded"
                                                style="height: 140px; background-color: rgb(233, 236, 239);">
                                                <span
                                                    style="color: rgb(166, 168, 170); font: bold 8pt Arial; object-fit: cover;"><img
                                                        height="140px" width="140px"
                                                        src="../../../../assets/img/perfil6.png" alt="avatar"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                        <div class="text-center text-sm-left mb-2 mb-sm-0">
                                            <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{user.creditCardName}}</h4>
                                            <p class="mb-0">@{{loggedProfile.name}}</p>
                                            <br>
                                            <div class="mt-2">
                                                <button class="btn btn-primary" type="button">
                                                    <i class="fa fa-fw fa-camera"></i>
                                                    <span>Cambiar imagen</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="text-center text-sm-right">
                                            <!--<span class="badge badge-danger" *ngIf="user.plan==0">Administrador</span>
                                            <span class="badge" *ngIf="user && user.plan!=0"
                                                [ngClass]="{'badge-primary': planes[user.plan -1 ].value == 1,'badge-warning': planes[user.plan -1 ].value == 2}">{{planes[user.plan - 1 ].name }}</span>-->
                                            <div class="text-muted ">
                                                <small>{{user.createdAt | date: 'MMM dd, yyyy'}}</small></div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="nav nav-tabs disable-select pointer">
                                    <li class=" "><a (click)="info=true" *ngIf="info" class="active nav-link ">Mis
                                            datos</a></li>
                                    <li class=" "><a (click)="info=false" *ngIf="info"
                                            class="not-active nav-link ">Perfiles</a></li>
                                    <li class=" "><a (click)="info=true" *ngIf="!info" class="not-active nav-link ">Mis
                                            datos</a></li>
                                    <li class=" "><a (click)="info=false" *ngIf="!info"
                                            class="active nav-link ">Perfiles</a></li>
                                </ul>
                                <div *ngIf="info">
                                    <div class="tab-content pt-3 ">
                                        <div class="tab-pane active ">
                                            <form (submit)="editUser() ">
                                                <div class="row ">
                                                    <div class="col ">
                                                        <div class="row ">
                                                            <div class="col ">
                                                                <div class="form-group ">
                                                                    <label>Nombre completo</label>
                                                                    <input [(ngModel)]="user.creditCardName " required
                                                                        type="text " name="creditCardName "
                                                                        placeholder="Nombre completo "
                                                                        class="form-control ">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row ">
                                                            <div class="col ">
                                                                <div class="form-group ">
                                                                    <label>Email</label>
                                                                    <input type="text " name="email "
                                                                        [(ngModel)]="user.email " required
                                                                        class="form-control " placeholder="Email ">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <div class="mb-2 "><b>Informacion de la tarjeta</b></div>
                                                        <div class="row ">

                                                            <div class="col mb-3 ">

                                                                <div class="form-group ">
                                                                    <label>Numero de tarjeta</label>
                                                                    <input type="number " name="creditCardNumber "
                                                                        placeholder="Numero de tarjeta "
                                                                        class="form-control "
                                                                        [(ngModel)]="user.creditCardNumber " required>
                                                                </div>
                                                            </div>
                                                            <div class="col mb-3 ">
                                                                <div class="form-group ">
                                                                    <label>CVV:</label>
                                                                    <input name="creditCardCVV " type="text "
                                                                        maxlength="4 " class="form-control "
                                                                        [(ngModel)]="user.creditCardCVV " required>
                                                                </div>
                                                            </div>
                                                            <div class="col mb-3 ">
                                                                <div class="form-group ">
                                                                    <label>Vencimiento:</label>
                                                                    <div class="input-group ">
                                                                        <select [(ngModel)]="user.creditCardMM "
                                                                            required class="form-control "
                                                                            style="width:45% " name="creditCardMM ">
                                                                            <option
                                                                                *ngFor="let number of [1,2,3,4,5,6,7,8,9,10,11,12] ">
                                                                                {{number}}</option>
                                                                        </select>
                                                                        <select class="form-control " style="width:45% "
                                                                            [(ngModel)]="user.creditCardYY " required
                                                                            name="creditCardYY ">
                                                                            <option
                                                                                *ngFor="let number of [20,21,22,23,24,25,26,27,28,29,30] ">
                                                                                {{number}}</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row ">
                                                    <div class="col-12 col-sm-6 mb-3 ">
                                                        <div class="mb-2 "><b>Cambiar contraseña</b></div>
                                                        <div class="row ">
                                                            <div class="col ">
                                                                <div class="form-group ">
                                                                    <label>Contraseña actual</label>
                                                                    <input type="password "
                                                                        [(ngModel)]="oldPasswordTry " required
                                                                        name="oldPasswordTry " minlength="6 "
                                                                        maxlength="16 " class="form-control "
                                                                        placeholder="•••••• ">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row ">
                                                            <div class="col ">
                                                                <div class="form-group ">
                                                                    <label>Nueva contraseña</label>
                                                                    <input class="form-control " type="password "
                                                                        [(ngModel)]="newPassword " required
                                                                        name="newPassword " minlength="6 "
                                                                        maxlength="16 " placeholder="•••••• ">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row ">
                                                            <div class="col ">
                                                                <div class="form-group ">
                                                                    <label>Confirmar <span
                                                                            class="d-none d-xl-inline ">contraseña</span></label>
                                                                    <input class="form-control " type="password "
                                                                        [(ngModel)]="newPasswordRepeated " required
                                                                        name="newPasswordRepeated " minlength="6 "
                                                                        maxlength="16 " placeholder="•••••• "></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-sm-5 offset-sm-1 mb-3 ">

                                                        <div class="row ">
                                                            <div class="col m-4 ">
                                                                <button type="button"
                                                                    class="btn btn-lg btn-outline-warning "
                                                                    (click)="ascender()" *ngIf="user.plan==1 ">Ascender
                                                                    a {{planes[user.plan].name}}</button>
                                                                <button type="button"
                                                                    class="btn btn-lg btn-outline-primary "
                                                                    (click)="descender()"
                                                                    *ngIf="user.plan==2 ">Descender a
                                                                    {{planes[user.plan -2].name}}</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row ">
                                                    <div class="col d-flex justify-content-end ">
                                                        <button class="btn btn-primary " type="submit ">Confirmar
                                                            cambios</button>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                                <!-- Fin de Info del usuario Comienzo de Perfiles -->
                                <div class="row" *ngIf="!info">
                                    <div class="m-3 col-3 card icardi p-3" *ngFor="let profile of user.profiles" [ngClass]="(profile._id==loggedProfile._id)?'logeado':''"
                                        style="min-width: 180px; max-height: 400px;">
                                        <img *ngIf="profile" class="card-img-top"  src="{{profile.photo}}"
                                            alt="Card image cap">
                                        <div *ngIf="profile" class="card-body" >
                                            <h5 class="card-title text-center" >{{profile.name}}</h5>
                                            <div class="row justify-content-center">
                                                <button (click)="cambiarPerfil(profile)" class="btn btn-primary m-2" style="width: 50px;"><i class="fa fa-user-circle-o" aria-hidden="true"></i></button>
                                                <button (click)="setProfileToEdit(profile)" data-toggle="modal" data-target="#modificarModal" class="btn btn-warning m-2" style="width: 50px;"><i class="fas fa-pencil-alt" aria-hidden="true"></i></button>
                                                <button *ngIf="user.profiles.length>1" (click)="borrar(profile)" class="btn btn-danger m-2" style="width: 50px;"><i class="fas fa-times" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-3 col-3 card p-3 icardi" style="min-width: 180px; max-height: 400px;">
                                        <a data-toggle="modal" data-target="#exampleModal" href="javascript:void(0);">
                                            <img class="card-img-top mt-4" width="200px" height="200px" src="https://assets.dryicons.com/uploads/icon/svg/12631/d3fab4d2-3a88-4439-9a83-3bea496ed86b.svg" alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="mt-3 text-center card-title">Nuevo perfil</h5>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="alert alert-danger" style="width: 100%;" *ngIf="error != '' ">
                                        {{error}}
                                    </div>
                                </div>
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModal" >Agregar perfil</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          <input type="text" 
                                          placeholder="Nombre del perfil" [(ngModel)]="newProfile"
                                          class="form-control " name="newProfile">
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar ventana</button>
                                          <button type="button" (click)="agregar(newProfile)" data-dismiss="modal" class="btn btn-primary">Agregar perfil</button>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="modificarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="profileToEdit">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel">Modificando perfil</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          <input type="text" 
                                          placeholder="Nuevo nombre del perfil" [(ngModel)]="putProfile"
                                          class="form-control " name="putProfile">
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar ventana</button>
                                          <button type="button" (click)="modificar(putProfile)" data-dismiss="modal" class="btn btn-primary">Modificar perfil</button>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>