<div class="container pt-5">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="alert alert-danger" *ngIf="error != '' ">
                        {{error}}
                    </div>
                    <form [formGroup]="userForm" (ngSubmit)="signUp()">
                        <div class="form-group">
                            <input type="text" formControlName="email" name="email" class="form-control" placeholder="Email" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="password" formControlName="password" name="password" minlength="6" maxlength="16" class="form-control" placeholder="Contraseña">
                        </div>

                        <div class="form-group">
                            <select class="form-control" formControlName="plan">
                            <option value="0" selected disabled>Seleccione un plan</option>
                            <option value="1">Plan comun 5$/mes</option>
                            <option value="2">Plan familiar 10$/mes</option>
                          </select>
                        </div>
                        <div class="form-group owner">
                            <label for="creditCardName">Nombre completo (en la tarjeta)</label>
                            <input type="text" formControlName="creditCardName" name="creditCardName" placeholder="Nombre completo" class="form-control">
                        </div>
                        <div class="form-group CVV">
                            <label for="creditCardNumber">Numero de tarjeta</label>
                            <div class="input-group">
                                <input type="text" name="creditCardNumber" placeholder="Numero de tarjeta" formControlName="creditCardNumber" class="form-control">
                                <div class="input-group-append">
                                    <span class="input-group-text" style="background-color: rgb(19, 19, 19)">
                                    <i class="fa cc-visa mx-1"></i>
                                    <i class="fa fa-cc-amex mx-1"></i>
                                    <i class="fa fa-cc-mastercard mx-1"></i>
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label><span class="hidden-xs">Expiracion</span></label>
                                    <div class="input-group">
                                        <select formControlName="creditCardMM" class="form-control" style="width:45%">
                                        <option value="0" selected disabled>MM</option>
                                        <option *ngFor="let number of [1,2,3,4,5,6,7,8,9,10,11,12]">{{number}}</option>
                                      </select>
                                        <select formControlName="creditCardYY" class="form-control" style="width:45%">
                                        <option value="0" selected disabled>YY</option>
                                        <option *ngFor="let number of [20,21,22,23,24,25,26,27,28,29,30]">{{number}}</option>
                                      </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group mb-4">
                                    <label data-toggle="tooltip" title="Codigo de tres digitos detras de tu tarjeta">CVV
                                                    <i class="fa fa-question-circle"></i>
                                                </label>
                                    <input formControlName="creditCardCVV" type="text|number" maxlength="4" required class="form-control">
                                </div>
                            </div>
                        </div>
                        <button [disabled]="validUser()" type="submit" class="btn btn-block btn-outline-success">
                        Registrarse
                    </button>
                    </form>
                </div>
            </div>
            <p class="text-center text-muted">Ya estas registrado? <a [routerLink]="['/signin']" class="text-success">Inicia sesión</a></p>

        </div>
    </div>
</div>