/* You can add global styles to this file, and also import other style files */

body {
    background-image: url("/assets/img/fondotodo.jpg");
    background-repeat: repeat;
    /* Do not repeat the image */
    background-size: cover;
    background-position: top;
    width: 100vw;
    height: 100vh;
    /* Resize the background image to cover the entire container */
}