<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-12">

            <h1 class="my-4">Noticias</h1>
            <a class="btn btn-danger" [routerLink]="['/noticiasadministrador']" *ngIf="authServices.isAdmin()">Administrar Noticias</a>
            <!-- Blog Post -->
            <div class="card mb-4" *ngFor="let noticia of noticias">
                <img class="card-img-top" src="{{noticia.image}}" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">{{noticia.title}}</h2>
                    <p class="card-text">{{noticia.text}}</p>
                    <a href="#" class="btn btn-primary ">Seguir leyendo &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    Posted on {{noticia.createdAt}} by {{noticia.author}}
                </div>
            </div>


            <!-- Pagination -->
            <ul class="pagination justify-content-center mb-4">
                <li class="page-item">
                    <a class="page-link" href="#">&larr; Older</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#">Newer &rarr;</a>
                </li>
            </ul>
        </div>

    </div>
    <!-- /.row -->

</div>